
<form #form="ngForm" (ngSubmit)="loginForm(form)"novalidate >
  <div class="container">
    <h1 class="heading">🚀 Create Account<br><br></h1>
    <p class="para"></p>
    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend> Name</legend>
        <ion-input  type="text" name="login_user" ngModel required #name="ngModel" placeholder="Ham"></ion-input>
      </fieldset>
    </ion-item>
    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend>UserName</legend>
        <ion-input type="text"   name="email" ngModel required #name="ngModel" placeholder="hamdo@.com"></ion-input>
      </fieldset>
    </ion-item>
    <ion-item lines="none" class="ion-item">
      <fieldset class="input-item">
        <legend>Password</legend>
        <ion-input  type="password" name="login_password" ngModel required #name="ngModel" placeholder="*******"></ion-input>
      </fieldset>
    </ion-item>

    <ion-button class="login-button" (click)="loginForm(form)"  [routerLink]="['/home']" expand="block">Register</ion-button>
    <ion-button class="google-button"  (click)="getValue() "expand="block" color="light"><ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp; </ion-button>
<!--    <ion-spinner color="primary"></ion-spinner>-->
  </div>
</form>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <ion-icon aria-hidden="true" name="triangle"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
          <ion-label>Start </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <ion-icon aria-hidden="true" name="square"></ion-icon>
          <ion-label>settings</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>

  </ion-toolbar>
</ion-footer>
