<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-titleCss" aligne="center">Details</ion-title>
    <!--    <ion-buttons slot="end">-->
    <!--      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>-->
    <!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false"  *ngFor="let data of Data">
    <h5>{{data.typeTransaction}} </h5>
    <p> Date:{{data.dateTransaction}}  </p>
    <p>Montant {{data.montant}}  </p>
    <p>Name Sender {{data.fees}}  </p>

</ion-content>


